{% extends 'base.html' %}
{% block title %}
    Create Room
{% endblock title %}

{% if user.is_authenticated %}
    {% block content %}
        <form action="{% url 'create_room' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="roomName">Choose a name for your room</label>
                <input id = "roomName" name = "room_name" type="text" placeholder = "Input your room name here">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    {% endblock content %}
{% endif %}