{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/c38a77bcf6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css'%}">
	      <link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css'%}">
        <title>Edit Profile</title>
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class='container'>
            <a class="navbar-brand" href="/">Minichad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'create_room' %}">New Room<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about_us' %}">About</a>
                </li>
              </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav my-2 my-lg-0">
                  <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i> <b>{{user}}</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'profile' %}"> <i class="fas fa-id-badge"></i> Profile</a>
                      
                      <a class="dropdown-item" href="/profile/password"><i class="fas fa-key"></i> Change Password </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a>
                    </div>
                  </li>
                </ul>
              {% else %}
              <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-secondary" href="/login">Log in</a>
                <a class="btn btn-primary ml-2" href="/register">Sign up</a>
              </form>
              {% endif %}
            </div>
          </div>
    
        </nav>
      </div>
        <div class="container emp-profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{% static 'login_page/images/download1.png' %}" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user}}
                                    </h5>
                                    <h6>
                                        New user
                                    </h6>
                                    <p class="proile-rating">Version: <span>1.00</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>This is your profile page</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>INIAD</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                        </div>
                    </div>
                    <form method = 'POST' class="col-md-8">
                        {% csrf_token %} 
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    {%for field in form %}
                                        {% if field.label != 'Password'%}
                                        <div class="row">
                                            <div class='col-md-6'> 
                                                <label>{{field.label}}</label>
                                            </div>
                                            <input type="text" id="input-username" class="mt-1 form-control form-control-alternative" style="width: 300px;"  name='{{field.html_name}}' value="{{field.value}}">
                                        </div>
                                        {% endif %}
                    
                                    {% endfor %}
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>       
        </div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>



