{% extends 'home.html' %}
{% block title %} Chat Room
{% endblock title %}

{% block content %}
    
    <div class="col-sm-6 panel-wrap" style="padding-left: 0px;padding-right: 0px;">

        <!--Main Content / Message List-->
        <div class="col-sm-12 section-wrap" id="Messages">

            <!--Header-->
            <div class="row header-wrap">
                <div class="chat-header col-sm-12">
                    <h4>{{room_name}}</h4>
                    <div class="header-button">
                        <a class="btn pull-right info-btn">
                        </a>
                    </div>
                </div>
            </div>
            <!--Messages-->
            <div id = "app" class="row content-wrap messages">
                {% comment %} React will be called here {% endcomment %}
                {% comment %} <input id="chat-message-input" type="text" cols="10" /><br />
                <input id="chat-message-submit" type="button" className="button" value="Send" /> {% endcomment %}
            </div>
            <div class="row send-wrap">
                <div class="send-message" style="padding-left: 0px;">
                    <div class="message-text">
                        <input type="textarea" id="chat-message-input" class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></input>
                    </div>
                    <div class="send-button">
                        <a id="chat-message-submit" style="width:90px;height:100px;" class="btn btn-success btn-lg" role="button" aria-pressed="true">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--Message box & Send Button-->

        </div> 
    </div>
    <div class="col-sm-3 section-wrap" id="Members">

        <!--Header-->
        <div class="row header-wrap">
            <div class="chat-header col-sm-12">
                <h4>Members</h4>
            </div>
        </div>

        <!--Members-->
        <div id = "user">

    </div>
    {% comment %} <textarea id="chat-log" cols="100" rows="20" disabled></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }} {% endcomment %}
    {% load static %}
<script src="{% static 'js/main.js/main.js' %}"></script>
<script>
    const roomName = location.pathname.substr(1);
    const userName = JSON.parse(document.getElementById('username').textContent);
    // console.log (roomName);
    var socketPath = 'ws://'
        + window.location.host
        + '/ws/'
        + roomName 
        + '/';
    const chatSocket = new WebSocket(
        socketPath
    );
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = (e) => {
        if(e.keyCode === 13){
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = (e) => {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if(message !== ''){
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
        }
        messageInputDom.value = ''
    };
</script>
<script>
    $(document).foundation();
</script>
{% endblock content %}

