{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block extra_styles %}
        <link rel="stylesheet" href="{% static 'css/room.css' %}">
        <link rel="stylesheet" href="{% static 'js/room.js' %}">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css'%}">
    {% endblock %}
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/c38a77bcf6.js" crossorigin="anonymous"></script>

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/textarea.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">


    {% comment %} Javascripts {% endcomment %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/foundation.min.js'%}"></script>
    <title>
        {% block title %}
        Minichad
        {% endblock %}
    </title>
</head>

<body>
    {{user.username|json_script:"username"}}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class='container'>
                <a class="navbar-brand" href="/">Minichad</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'create_room' %}">New Room<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">About</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> <b>{{user}}</b>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}"> <i class="fas fa-id-badge"></i> Profile</a>

                                <a class="dropdown-item" href="/profile/password"><i class="fas fa-key"></i> Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-secondary" href="/login">Login</a>
                        <a class="btn btn-primary ml-2" href="/register">Register</a>
                    </form>
                    {% endif %}
                </div>
            </div>

        </nav>
    </div>
    <div class="container fill" style="padding-top: 50px;">
        <div class="row chat-wrap">

            <!-- Contacts & Conversations -->
            <div class="col-sm-3 panel-wrap">

                <!-- Overlay Menu / Contacts -->


                <!--Left Menu / Conversation List-->

                <div class="col-sm-12 section-wrap" style="padding-right: 0px;padding-left: 0px;">

                    <!--Header-->
                    <div class="row header-wrap">
                        <div class="chat-header col-sm-12">
                            <h4>Lobby</h4>
                            <div class="header-button">
                                <a class="btn pull-right" href="#search" data-toggle="collapse">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Conversations-->
                    <div class="row content-wrap">
                        {% if user.is_authenticated %}
                        {% for room in rooms %}
                        {% comment %} {{room.room_name}} {% endcomment %}
                        <div class="conversation btn">
                            <div class="media-body">
                                <h5 class="media-heading" id="contactName"><a href="{% url 'room' room.room_name %}">{{room.room_name}}</a></h5>
                                <small class="pull-right time">Users: {{room.num_users}}/{{room.max_user}}</small>
                            </div>
                        </div>
                        {% empty %}
                        <div>
                            No rooms available. Let's create a new one!
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="container">
                            <p>You are not logged in.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock content %}

        </div>
    </div>
    <script src="{% static 'js/room.js' %}"></script>

    <script src="{% static 'login_page/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login_page/vendor/bootstrap/js/popper.js'%}"></script>
    <script src="{% static 'login_page/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login_page/vendor/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login_page/vendor/tilt/tilt.jquery.min.js'%}"></script>

</body>

</html>
</div>