{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login_page/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css'%}">
	<script src="https://kit.fontawesome.com/c38a77bcf6.js" crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class='container'>
		<a class="navbar-brand" href="/">Minichad</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'create_room' %}">New Room<span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item">
			  <a class="nav-link" href="{% url 'about_us' %}">About</a>
			</li>
		  </ul>
			{% if user.is_authenticated %}
			<ul class="navbar-nav my-2 my-lg-0">
			  <li class="nav-item dropdown">
				
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fas fa-user"></i> <b>{{user}}</b>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="{% url 'profile' %}"> <i class="fas fa-id-badge"></i> Profile</a>
				  
				  <a class="dropdown-item" href="/profile/password"><i class="fas fa-key"></i> Change Password </a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a>
				</div>
			  </li>
			</ul>
		  {% else %}
		  <form class="form-inline my-2 my-lg-0">
			<a class="btn btn-secondary" href="/login">Log in</a>
			<a class="btn btn-primary ml-2" href="/register">Sign up</a>
		  </form>
		  {% endif %}
		</div>
	  </div>

	</nav>
  </div>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="padding-top: 100px;">
				{% if user.is_authenticated %}
					<p>You are already logged in.</p>
				{% else %}
					<span class="login100-form-title" style="color: green;">
						Check your email
					</span>
                {% endif %}
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'login_page/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'login_page/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/vendor/tilt/tilt.jquery.min.js'%}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'login_page/js/main.js' %}"></script>

</body>
</html>